{% extends 'autoramos/base.html' %}
    
{% block title %}
Reserva de Ramos
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1>Reservar Ramos</h1>
        <form method="POST" class="form-group">
        {% csrf_token %}
        {% crispy form %}
        </form>
    </div>
    
    <script>
    $(function () {
        $("#id_date").datepicker({
        format:'dd/mm/yyyy',
        });
    });
    </script>
</header>
{% endblock %}